body{
  margin : 0;
  width : 100%;
 	height : 100%;
 	font-family: 'Roboto', sans-serif;
 	color : white ;
}

main .images{
	box-sizing: border-box;
	position: absolute;
	background-size : cover ;
  background-position :center center;
  width : 100%; 
  height: 100vh ;
  z-index : -1 ;
}
main .images img{
	
	object-fit: cover ;
	width : 100%;
	height : 100vh;
}

.first_page nav li{
  list-style : none ;
  font-size : 15px;
}
.first_page nav{
  color : #cccccc;
  display : flex ;
  flex-direction : row ;
  justify-content : space-between ;
  flex-basis : 400px ;
}
.first_page header nav li:nth-of-type(1){
  color : #f4f7e8;
}
.first_page header {
  box-sizing: border-box;
  width : 100% ;
  z-index : 1 ;
  position : absolute ;
  padding-left : 70px ;
  padding-right : 70px ;
  display : flex ;
  align-items : baseline ;
  justify-content : space-between ;
}
.first_page header h2{
  font-size : 27px ;
}
.first_page{
  max-height : 100vh ;
}
main .images{
  background-image : url(https://i.imgur.com/4A1tpMW.jpg) ;
  position : absolute ;
  background-size : cover ;
  background-position :center center;
  width : 100%; 
  height : 100%;
  z-index : -1 ;
  top : 0 ;
  left : 0 ;
  filter: brightness(80%);
}
main{
  text-align : center ;
  box-sizing: border-box;
  margin : 0;
  padding: 80px 28%;
  padding-bottom: 0px ;
  min-height : 100vh;
}
main a
{
  color: #ffffffd6;
  text-decoration: none;
  border: 1px solid #ada869;
  background: #ff0000;
  padding: 15px 30px;
  transition : border-color 0.4s linear 0s ,
               box-shadow 0.2s linear 0s ;
}
main .content a:hover{
  border-color : #ff0000 ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.first_page main .title
{
  font-size : 40px;
}
main .tagline{
  font-size : 40px ;
  margin-bottom: 60px;
}
.vanish{
  margin-top: 30px;
  /*transition: transform 0.2s linear , opacity 0.2s linear ;*/
}
main .title{
  margin-top: 34vh;
}

/*--------------------------------------------------------------------------------*/

#navbar{
	z-index: 3 ;
	position : fixed;
	left : 0 ;
	right : 0 ;
	top : -112px;
	transition: top 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: #ffffff;
  border-bottom: 0.5px solid rgb(204, 204, 204);
}

#navbar header{
  box-sizing: border-box;
  width : 100% ;
  padding-left : 70px ;
  padding-right : 70px ;
  display : flex ;
  align-items : baseline ;
  justify-content : space-between ;
}
#navbar header h2{
	font-size: 27px;
  color : #d31a48;
}

#navbar header nav{
  color : #cccccc ;
	list-style: none;
	font-size : 15px;
	display: flex;
  flex-direction : row ;
  justify-content : space-between ;
  flex-basis : 400px ;
}

/*-------------------------------------------------------------------------------*/

@media screen and (max-width:800px)
{
  .first_page header{
    padding-left : 30px;
    padding-right : 30px;
    justify-content : center;
    flex-wrap: wrap;
    align-items : center;
  }
  .first_page header nav{
    justify-content : space-around ;
  }
  .first_page header >*
  {
    width : 100% ;
    text-align : center ;
  }

  #navbar{
    padding-bottom: 15px;
  }
  #navbar header{
    padding-left : 30px;
    padding-right : 30px;
    justify-content : center;
    flex-wrap: wrap;
    align-items : center;
  }
  #navbar header nav{
    justify-content: space-around;
  }
  #navbar header >*
  {
    width : 100% ;
    text-align : center ;
  }
}

@media screen and (max-width:500px)
{
  .first_page header nav{
    justify-content : space-between ;
  }
  .first_page header{
    padding-left : 10px;
    padding-right : 10px;
  }
  main .content .title,.tagline{
    font-size : 38px ;
  }

  #navbar header nav{
    justify-content : space-between ;
  }
  #navbar header{
    padding-left : 10px;
    padding-right : 10px;
  }
}

/*------------------------MODAL-----------------------------------------------------*/

.modal{
  position: absolute;
  overflow: auto;
  right: 15%;
  left: 15%;
  z-index: 4 ;
  opacity : 0;
  background-color: rgba(0,0,0,0.5) ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: top 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) , 
              opacity 0.2s linear;
}
.images{
  transition : filter 0.2s linear ;
}

.ico{
  flex-basis : 30%;
  font-size: 13px;
}
.ans{
  flex-basis: 70% ;
}
.myform{
    width: 42%;
    background-color: #f7f7f7;
    padding: 28px;
    margin: 0;
}
.reservation{
    width: 42%;
    display: block;
    padding-top: 0;
    margin: 0;
}
.reservation img{
      max-width: 100%;
}

.reservation div h6{
  font-size: 13px ;
  margin-bottom: 0;
  margin-top: 13px;
}
.details{
  padding : 3px ;
}
.fas{
  color: #7d7d7d ;
  font-size: 14px ;
  padding-right: 7px;
}
.material-icons{
  font-size: 17px ;
  color: #7d7d7d ;
  position: relative;
  left: -2.5px;
  top: 4px ;
  padding-right: 3px;
}

.myform{
  margin-right: 7.5px ;
}
.reservation{
  color: black ;
  margin-left: 7.5px ;
}

@media screen and (max-width:1200px)
{
  .ico{
    flex-basis: 40%;
  }
  .ans{
    flex-basis: 60%;
  }
}

@media screen and (max-width: 1000px )
{
  main{
    padding-left: 15% ;
    padding-right: 15% ;
  }
}
@media screen and (max-width:900px)
{
  main{
    padding-left: 13% ;
    padding-right: 13% ;
  }
  .modal{
    width: 74%;
    left: 10%;
    right: 10%;
  }
  .myform,.reservation{
    width: 44% ;
  }
  .ico{
    font-size: 13px ;
    flex-basis: 50%;
  }
  .reservation div h6 {
    font-size: 13px;
  }
  .ans {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px)
{
  .modal{
    width: 80% ;
    left :10%;
  }
  main{
    padding-left: 10% ;
    padding-right: 10% ;
  }
}

@media screen and (max-width: 700px)
{
  .modal{
    flex-wrap: wrap;
  }
  .ico{
    flex-basis: 40% ;
  }
  .ans{
    flex-basis: 60%;
  }
  .myform{
    margin-right: 0 ;
  }
  .reservation{
    margin-left: 0 ;
  }
  .details div span {
    flex-basis: 40%;
  }
  .myform{
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .reservation{
    flex-basis: 89%;
    margin-left: 0
  }
}

@media screen and (max-width: 500px)
{
  #firstname, #lastname, #city, #post {
    flex-basis: 100%;
  }
}

/*--------------------------SECOND---PAGE---------------------------------------------------*/

.second_page{
  padding-top : 80px;
  padding-bottom: 80px ;
  padding-right: 15%;
  padding-left: 20%;
  background-color: #fafafa ;
}
.cntnt_img img{
  max-width: 300px;
  transform: rotate(20deg);
  transition : transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s  ;
}
.cntnt_img{
  display: flex;
  align-items: center;
}
.cntnt h3{
  color : #d31a48;
  font-size: 35px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.cntnt p{
  color : grey ;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5 ;
}
.cntnt{
  margin-left: 74px;
}


@media screen and (max-width: 957px)
{
  .cntnt_img{
    display : block ;
  }
  .cntnt{
    margin-left: 0;
  }
  .foto , .cntnt{
    text-align: center;
  }
  .second_page{
    padding-left  : 20% ;
    padding-right : 20% ;
  }
}

@media screen and (max-width:600px)
{
.foto img{
    max-width : 250px ;
  }
}

@media screen and (max-width: 550px)
{
  .second_page{
  padding-left  : 10% ;
  padding-right : 10% ;
  }
}

@media screen and (max-width: 500px)
{
  .second_page{
    padding-left  : 5% ;
    padding-right : 5% ;
  }
  .foto img{
    max-width : 200px ;
  }
}

@media screen and (max-width: 400px)
{
  .foto img{
    max-width : 150px ;
  }
}

@media screen and (max-width: 400px)
{
  .foto img{
    max-width : 100px ;
  }
}

/*-------------------------------------------------------------------------------*/

@media screen and (max-width:400px)
{
  .first_page header nav{
    justify-content: space-around;
  }
  .first_page header nav li:nth-of-type(3)
  {
    display: none;
  }
  .first_page header nav li:nth-of-type(4)
  {
    display: none;
  }
}

.features:hover{
  color : #f4f7e8;
}

/*------------------EDIT--------------------*/

.second_page{
  position: relative;
}

.modal{
  background : white ;
}
/*.modal{
  will-change : top;
}*/
/*.foto img{
  will-change : transform ;
}*/
.content{
  will-change :margin-top;
}

#close{
  float: right;
  padding: 0;
  font-size: 17px;
}
#close:hover{
  cursor:pointer ;
}
.myform{
      padding-top: 20px;
}